include cfg.pug
footer.footer
      img(src="../img/icons/bx6xb.jpg" alt="bx6xb").sign
      .container
        .row
          .col-6
            .footer-info
              .footer-header Website navigation
              .footer-sep
              ul
                li
                  a(href=drake) Drake
                li
                  a(href=pop_smoke) Pop Smoke
                li
                  a(href=travis_scott) Travis Scott
                li
                  a(href=playboi_carti) Playboi Carti
                li
                  a(href=yeat) Yeat
                li
                  a(href=lil_uzi_vert) Lil Uzi Vert
          .col-6
            .footer-info
              .footer-header Contacts
              .footer-sep
              a(href="mailto:bx6xbChosen1@gmail.com" class="footer-link") Email