include cfg.pug
nav.navigation
    .container
        .row
            .col-12
                ul.menu 
                    li.menu-item
                        a(href=main).menu-link Main Page
                    li.menu-item
                        a(href=drake).menu-link Drake
                    li.menu-item
                        a(href=pop).menu-link Pop Smoke
                    li.menu-item
                        a(href=travis).menu-link Travis Scott
                    li.menu-item
                        a(href=carti).menu-link Playboi Carti
                    li.menu-item
                        a(href=yeat).menu-link Yeat
                    li.menu-item
                        a(href=uzi).menu-link Lil Uzi Vert