include cfg.pug
block vars

doctype html 
hmtl 
    head 
        meta(charset="UTF-8" )
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            block title
        link(rel="icon" href="../img/icons/icon.png")
        link(rel="stylesheet" href="../css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="../css/style.min.css")
    body
        include nav-bar.pug
        include header.pug
        
        section.bio-albums-gallery
            .container 
                .row 
                    .col-12 
                        .switcher 
                            img(src="../img/icons/arrow.png" alt="left arrow" title="left arrow" class="left-arrow")
                            h2.switcher-header
                                |Biography
                            img(src="../img/icons/arrow.png" alt="right arrow" title="right arrow" class="flipped right-arrow")
                    .col-12.rapper-info-section
                        .bio
                            block bio 
                    .col-12.rapper-info-section.hide
                        .albums
                            block albums 
                    .col-12.rapper-info-section.hide
                        .gallery
                            .row 
                                .col-4
                                    img(src="../img/"+rapper+"/photos/1.jpg" alt=rapper title=rapper+' photo')
                                .col-4
                                    img(src="../img/"+rapper+"/photos/2.jpg" alt=rapper title=rapper+' photo')
                                .col-4
                                    img(src="../img/"+rapper+"/photos/3.jpg" alt=rapper title=rapper+' photo')
                                .col-4
                                    img(src="../img/"+rapper+"/photos/4.jpg" alt=rapper title=rapper+' photo')
                                .col-4
                                    img(src="../img/"+rapper+"/photos/5.jpg" alt=rapper title=rapper+' photo')
                                .col-4
                                    img(src="../img/"+rapper+"/photos/6.jpg" alt=rapper title=rapper+' photo')

        
        include footer.pug
        script(src='../js/main.min.js')